<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangsong.system.dao.DictMapper">
    <resultMap id="BaseResultMap" type="com.wangsong.system.model.Dict">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from system_dict
        where id = #{id,jdbcType=VARCHAR}
    </delete>

    <insert id="insert" parameterType="com.wangsong.system.model.Dict">
        insert into system_dict (id, code, name,
        type)
        values (#{id,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
        #{type,jdbcType=VARCHAR})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.wangsong.system.model.Dict">
        update system_dict
        set code = #{code,jdbcType=VARCHAR},
        name = #{name,jdbcType=VARCHAR},
        type = #{type,jdbcType=VARCHAR}
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select id, code, name, type
        from system_dict
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select id, code, name, type
        from system_dict
    </select>



    <select id="findTByPage" parameterType="com.wangsong.system.model.DictPage" resultMap="BaseResultMap">
        select id, code, name, type
        from system_dict
        where 1=1
        <if test="name!= null and name != ''">
            and name like CONCAT('%', #{name,jdbcType=VARCHAR}, '%')
        </if>
        <if test="type != null and type != ''">
            and type = #{type,jdbcType=VARCHAR}
        </if>
        <if test="code!= null and code != ''">
            and code = #{code,jdbcType=VARCHAR}
        </if>
        ORDER BY type
    </select>
    <delete id="deleteBy">
        delete from system_dict
        where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <select id="findTByT" parameterType="com.wangsong.system.model.Dict" resultMap="BaseResultMap">
        select id, code, name, type
        from system_dict
        where type = #{type,jdbcType=VARCHAR}
    </select>
</mapper>