<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangsong.system.dao.ResourcesMapper">
    <resultMap id="BaseResultMap" type="com.wangsong.system.model.Resources">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="pid" jdbcType="VARCHAR" property="pid"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="sort" jdbcType="VARCHAR" property="sort"/>
    </resultMap>
    <insert id="insert" parameterType="com.wangsong.system.model.Resources">
        insert into system_resources (id, pid, name,
        url,type,sort)
        values (#{id,jdbcType=VARCHAR}, #{pid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
        #{url,jdbcType=VARCHAR},#{type,jdbcType=VARCHAR},#{sort,jdbcType=VARCHAR})
    </insert>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from system_resources
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <update id="updateByPrimaryKey" parameterType="com.wangsong.system.model.Resources">
        update system_resources
        set pid = #{pid,jdbcType=VARCHAR},
        name = #{name,jdbcType=VARCHAR},
        url = #{url,jdbcType=VARCHAR},
        type = #{type,jdbcType=VARCHAR},
        sort = #{sort,jdbcType=VARCHAR}
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select id, pid, name, url,type,sort
        from system_resources
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select id, pid, name, url,type,sort
        from system_resources
        ORDER BY system_resources.sort
    </select>

    <delete id="deleteBy">
        delete from system_resources
        where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
        or pid in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>