<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangsong.system.dao.RoleResourcesMapper">
    <resultMap id="BaseResultMap" type="com.wangsong.system.model.RoleResources">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="resources_id" jdbcType="VARCHAR" property="resourcesId"/>
        <result column="role_id" jdbcType="VARCHAR" property="roleId"/>
    </resultMap>
    <insert id="insert" parameterType="com.wangsong.system.model.RoleResources">
        insert into system_role_resources (id, resources_id, role_id
        )
        values (#{id,jdbcType=VARCHAR}, #{resourcesId,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR}
        )
    </insert>
    <delete id="deleteByPrimaryKey" parameterType="com.wangsong.system.model.RoleResources">
        delete from system_role_resources
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <update id="updateByPrimaryKey" parameterType="com.wangsong.system.model.RoleResources">
        update system_role_resources
        set resources_id = #{resourcesId,jdbcType=VARCHAR},
        role_id = #{roleId,jdbcType=VARCHAR}
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select id, resources_id, role_id
        from system_role_resources
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select id, resources_id, role_id
        from system_role_resources
    </select>

    <select id="findTByT" resultMap="BaseResultMap" parameterType="com.wangsong.system.model.RoleResources">
        select id, resources_id, role_id
        from system_role_resources
        where role_id = #{roleId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByT">
        delete from system_role_resources
        where role_id in
        <foreach item="roleResources" collection="array" open="(" separator="," close=")">
            #{roleResources.roleId}
        </foreach>
        or resources_id in
        <foreach item="roleResources" collection="array" open="(" separator="," close=")">
            #{roleResources.resourcesId}
        </foreach>
    </delete>
    <select id="findResourcesByT" parameterType="com.wangsong.system.model.Resources"
            resultType="com.wangsong.system.model.Resources">
        select distinct system_resources.id, system_resources.pid, system_resources.name,
        system_resources.url,system_resources.type,system_resources.sort
        from system_role_resources
        LEFT JOIN system_resources on system_resources.id=system_role_resources.resources_id
        LEFT JOIN system_user_role on system_user_role.role_id=system_role_resources.role_id
        where 1=1
        <if test="type != null and type != ''">
            and system_resources.type = #{type,jdbcType=VARCHAR}
        </if>
        and system_user_role.user_id = #{id,jdbcType=VARCHAR}
        ORDER BY system_resources.sort
    </select>
</mapper>