<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangsong.system.dao.RoleMapper">
    <resultMap id="BaseResultMap" type="com.wangsong.system.model.Role">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
    </resultMap>
    <insert id="insert" parameterType="com.wangsong.system.model.Role">
        insert into system_role (id, name)
        values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR})
    </insert>




    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from system_role
        where id = #{id,jdbcType=VARCHAR}
    </delete>

    <update id="updateByPrimaryKey" parameterType="com.wangsong.system.model.Role">
        update system_role
        set name = #{name,jdbcType=VARCHAR}
        where id = #{id,jdbcType=VARCHAR}
    </update>




    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select id, name
        from system_role
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select id, name
        from system_role
    </select>



    <select id="findTByPage" parameterType="com.wangsong.system.model.RolePage" resultMap="BaseResultMap">
        select id, name
        from system_role
        where 1=1
        <if test="name!= null and name != ''">
            and name like CONCAT('%', #{name,jdbcType=VARCHAR}, '%')
        </if>
    </select>
    <delete id="deleteBy">
        delete from system_role
        where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectRoleVOByPrimaryKey" parameterType="java.lang.String" resultType="com.wangsong.system.vo.RoleVO">
        select id, name
        from system_role
        where id = #{id,jdbcType=VARCHAR}
    </select>
</mapper>