<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangsong.system.dao.UserRoleMapper">
    <resultMap id="BaseResultMap" type="com.wangsong.system.model.UserRole">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="role_id" jdbcType="VARCHAR" property="roleId"/>
    </resultMap>
    <insert id="insert" parameterType="com.wangsong.system.model.UserRole">
        insert into system_user_role (id, user_id, role_id
        )
        values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR}
        )
    </insert>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from system_user_role
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <update id="updateByPrimaryKey" parameterType="com.wangsong.system.model.UserRole">
        update system_user_role
        set user_id = #{userId,jdbcType=VARCHAR},
        role_id = #{roleId,jdbcType=VARCHAR}
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select id, user_id, role_id
        from system_user_role
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select id, user_id, role_id
        from system_user_role
    </select>

    <select id="findTByT" resultMap="BaseResultMap" parameterType="com.wangsong.system.model.UserRole">
        select id, user_id, role_id
        from system_user_role where user_id = #{userId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByT">
        delete from system_user_role
        where user_id in
        <foreach item="userRole" collection="array" open="(" separator="," close=")">
            #{userRole.userId}
        </foreach>
        or role_id in
        <foreach item="userRole" collection="array" open="(" separator="," close=")">
            #{userRole.roleId}
        </foreach>
    </delete>

</mapper>