<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangsong.system.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.wangsong.system.model.User">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
    </resultMap>
    <insert id="insert" parameterType="com.wangsong.system.model.User">
        insert into system_user (id, username, password
        )
        values (#{id,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}
        )
    </insert>


    <delete id="deleteByPrimaryKey" parameterType="com.wangsong.system.model.RoleResources">
        delete from system_user
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <update id="updateByPrimaryKey" parameterType="com.wangsong.system.model.User">
        update system_user
        set username = #{username,jdbcType=VARCHAR}
        ,password = #{password,jdbcType=VARCHAR}
        where id = #{id,jdbcType=VARCHAR}
    </update>


    <update id="updateNoPasswordByPrimaryKey" parameterType="com.wangsong.system.model.UserAddModel">
        update system_user
        set username = #{username,jdbcType=VARCHAR}
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select id, username, password
        from system_user
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select id, username, password
        from system_user
    </select>


    <select id="findTByT" parameterType="com.wangsong.system.model.User" resultMap="BaseResultMap">
        select id, username, password
        from system_user
        where username = #{username,jdbcType=VARCHAR}

    </select>
    <select id="findTByPage" parameterType="com.wangsong.system.model.UserPage" resultMap="BaseResultMap">
        select id, username, password
        from system_user
        where 1=1
        <if test="username!= null and username != ''">
            and username like CONCAT('%', #{username,jdbcType=VARCHAR}, '%')
        </if>
    </select>
    <delete id="deleteBy">
        delete from system_user
        where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectVOByPrimaryKey" parameterType="java.lang.String" resultType="com.wangsong.system.vo.UserVO">
        select id, username, password
        from system_user
        where id = #{id,jdbcType=VARCHAR}
    </select>
</mapper>